<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

</head>
<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-md-4" style="text-align: center;">
                 <div class="card border-primary">
                   <img class="card-img-top" src="holder.js/100px180/" alt="">
                   <div class="card-body">
                     <h4 class="card-title"><a v-bind:href="url">{{title}}</a></h4>
                     <p>{{fotmatPrice()}}</p>
                     <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                         Similique, ab? Ab, sequi, incidunt amet exercitationem obcaecati officia vel 
                         fuga laudantium dolorum non autem corporis tempora cupiditate enim quidem? Minus, consequuntur!</p>
                   </div>
                 </div>
                </div>
            </div>
        </div>
    </div>
    <div id="app-3">
        <span v-if="seen">Now you see me</span>
      </div>
    
    <!-- v-for -->
    <div id="app-4">
        <ol>
          <li v-for="todo in todos">
            {{ todo.text }}
          </li>
        </ol>
      </div>
    <!-- end v-for -->
    <!-- V-ON -->
    <div id="app-5">
        <p>{{ message }}</p>
        <button type="button" v-on:click="reverse" name="" id="" class="btn btn-primary"></button>
      </div>
    <!-- END V-ON -->
    <!-- v-model -->
    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
      </div>
    <!-- end v-model -->
    <!-- component -->
    <ol>
        <todo-item v-bind:="template"></todo-item>
      </ol>
    <script src="main.js"></script>
</body>
</html>